.details-page {
    background-color: cornsilk;
    text-align: center;
    min-height: 100vh;
    padding: 1rem;

    .loading-message {
        margin-top: 0;
    }


    .cocktail-details {
        text-align: center;
        max-width: 800px;
        margin: auto;
        
        .heading {
            margin-top: 0;
        }

        .cocktail-image {
            max-width: 400px;
        }
    
        .ingredients-list {
            list-style: none;
            padding: 0;
        }
    
        .alcoholic-label {
            color: crimson;
        }
    
        .non-alcoholic-label {
            color: green;
        }

        .instructions {
            margin-bottom: 0;
        }
    }
}




